.label {
  position: relative;
  display: inline-block;
}
.select {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  color: var(--second-text-color);
  box-shadow: none;
  border-radius: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.label.priority {
  width: 100%;
}

.select.priority {
  width: 100%;
}

.label_span {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--accent-color);
  font-family: 'Poppins';
  font-size: 16px;
}
