.btn {
  width: 100%;
  padding: 16px 0px;
  margin-top: 8px;
  margin-left: auto;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--btn-main-color);
  font-family: 'Poppins';
  font-size: 16px;
  border-radius: 6px;
  transition: background-color var(--transition-duration) var(--timing-function),
    transform var(--transition-duration) var(--timing-function);
}

.btn:disabled {
  background-color: var(--btn-disabled-color);
}

.btn:hover {
  background-color: var(--hover-btn-color);
  transform: translate(5px, 5px);
}

.searchBtn {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--accent-color);
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: var(--accent-color);
}

.reset_btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: var(--accent-color);
}

.reset_textarea_btn {
  position: absolute;
  top: 16px;
  right: 12px;
  color: var(--accent-color);
}
