.link {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-family: 'Poppins';
  font-size: 14px;
  color: var(--accent-color);
}

.link_icon {
  color: var(--accent-color);
  margin-right: 8px;
}

.title {
  font-family: 'Poppins';
  font-style: semi-bold;
  font-size: 24px;
  margin-bottom: 24px;
}

.add_card {
  padding: 40px 16px;
  background-color: var(--btn-main-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.inputMainBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputBox {
  position: relative;
  width: 100%;
}

.label {
  margin-bottom: 8px;
  color: var(--accent-color);
  font-family: 'Poppins';
  font-size: 16px;
}

.input {
  width: 100%;
  padding: 16px 0 16px 12px;
  border: 1px solid var(--btn-disabled-color);
  border-radius: 8px;
  color: var(--title-text-color);
  font-family: 'Poppins';
  font-size: 16px;
}

.textarea {
  width: 100%;
  padding: 16px 0 16px 12px;
  border: 1px solid var(--btn-disabled-color);
  border-radius: 8px;
  color: var(--title-text-color);
  resize: vertical;
}

.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus {
  border-color: var(--accent-color);
}
