.mainWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.caption {
  margin-bottom: 31px;
  font-family: 'Alata', 'Montserrat', serif;
  font-size: 24px;
  color: var(--accent-color);
}

.header {
  padding: 32px 0 24px 0;
}

.input_search {
  width: 100%;
  padding: 12px;
  padding-left: 48px;
  text-align: center;
}

.form {
  position: relative;
}
