.nav_icon {
  stroke: #000000;
  fill: #ffffff;
  transition: stroke var(--transition-duration) var(--timing-function);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.nav_box {
  padding: 16px;
  background-color: var(--btn-main-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transition: stroke var(--transition-duration) var(--timing-function);
}

.nav_box:not(:last-child) {
  margin-right: 24px;
}

.nav_box:hover .nav_icon {
  stroke: var(--accent-color);
}
